@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Nunito Sans',Arial, sans-serif;

$white: #fff;
$black: #000000;
$darken: #222831;

// $primary: #6e5773;
$primary:#9acd32;
$secondary: #a0f669;
$brand :#9acd32;



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $white;
	font-size: 17px;
	line-height: 1.8;
	font-weight: 400;
	color: lighten($black,60%);
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none;
		color: $primary;
		outline: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: rgba(0,0,0,.9);
	font-weight: 400;
}

.text-primary {
	color: $primary!important;
}

.color-green{
	color: $brand;
}


.ftco-navbar-light {
	background: transparent!important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	// padding-top: 30px;
	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.container{
		width: 1110px;
		margin: 0 auto;
		padding: 0;
		@include media-breakpoint-up(lg){
		}
	}

	.navbar-brand {
		color: $white;
		padding-top: .7rem;
		padding-bottom: .7rem;
		@include media-breakpoint-down(md){
			color: $white;
		}
	}
	
	.navbar-nav {
		@include media-breakpoint-down(md){
			padding-bottom: 20px;
			// margin-left: 20px !important;
			margin-right: 0;
		}
		> .nav-item {
			> .nav-link {
				font-size: 16px;
				padding-top: .7rem;
				padding-bottom: .7rem;
				padding-left: 20px;
				padding-right: 20px;
				color: $white;
				font-weight: 400;
				opacity: 1!important;
				span {
					position: relative;
					display: block;
					padding-bottom: 2px;
					@include media-breakpoint-down(lg){
						display: inline-block;
					}
					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: 0;
						left: 0;
						background: $primary;
						visibility: visible;
						-webkit-transform: scaleX(0);
						-moz-transform: scaleX(0);
						-ms-transform: scaleX(0);
						-o-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.3s ease-in-out 0s;
						-moz-transition: all 0.3s ease-in-out 0s;
						-ms-transition: all 0.3s ease-in-out 0s;
						-o-transition: all 0.3s ease-in-out 0s;
						transition: all 0.3s ease-in-out 0s;
					}
				}
				&:hover{
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							-moz-transform: scaleX(1);
							-ms-transform: scaleX(1);
							-o-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 1rem;
					padding-top: 0;
					color: $white;
				}
			}
			
			&.cta {
				> a {
					color: $white;
					border: 1px solid $primary;
					padding-top: .7rem;
					padding-bottom: .7rem;
					padding-left: 18px;
					padding-right: 18px;
					background: $primary;
					margin-top: 0;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white;
					}
					&:hover{
						background: $primary;
						border: 1px solid $primary;
					}
				}
				&.cta-colored {
					a{
						border: 1px solid $secondary;
						background: $secondary !important;
					}
				}
			}
			
				.nav-link {
					&.active {
					background: transparent;
					background: none;
					color: $primary;
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
			}
			
			@include media-breakpoint-down(md){
				&.active {
					> a {
						color: $primary;
					}
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:hover, &:focus {
			text-decoration: none;
			color: $primary;
			outline: none !important;
		}
	}
	
	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		margin-top: -130px;
		background: $white!important;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		padding: 0 15px;
		.nav-item {
			> .nav-link{
				@include media-breakpoint-down(md){
					padding-left: 0 !important;
					padding-right: 0 !important;
					padding-bottom: 20px !important;
				}
			}
			&.active {
				> a {
					color: $primary!important;
				}
			}
			&.cta {
				> a {
					color: $white !important;
					background: $primary;
					border: none !important;
					padding-top: .5rem!important;
					padding-bottom: .5rem !important;
					padding-left: 20px !important;
					padding-right: 20px !important;
					margin-top: 5px !important;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white !important;
					}
				}
				&.cta-colored {
					span {
						border-color: $primary;
					}
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				background: none;
				border-radius: 0px;
				padding-left: 0!important;
				padding-right: 0!important;
				margin-left: 0 !important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(0,0,0,.5)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;

		}
		.nav-link {
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: .3s all ease-out;
		}
		&.sleep {
			transition: .3s all ease-out;	
		}

		.navbar-brand {
			color: $black;
			padding-top: 1rem;
			padding-bottom: 1rem;
			font-size: 24px;
		}
	}
}

.navbar-brand {
	font-weight: 900;
	font-size: 24px;
	// text-transform: uppercase;
}



//OWL CAROUSEL
.owl-carousel {
	position: relative;
	.owl-item {
		opacity: .4;
		&.active {
			opacity: 1;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: lighten($black, 90%);
			position: relative;
			&:after{
				position: absolute;
				top: -2px;
				left: -2px;
				right: 0;
				bottom: 0;
				width: 14px;
				height: 14px;
				content: '';
				border:1px solid rgba(255,255,255,.3);
				@include border-radius(50%);
			}	
			&:hover, &:focus{
				outline: none !important;
			}
			&.active {
				background: lighten($black, 70%);
			}
		}
	}
} 


.hero-wrap{
	width: 100%;
	height: 100%;
	position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	@include media-breakpoint-down(md){
	}
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .3;
		background: $black;
	}
	&.hero-wrap-2{
		height: 600px;
		position: relative;
		background-position: top center;
		.overlay{
			width: 100%;
			opacity: .3;
			background: $black;
		}
		.slider-text{
			height: 600px;
		}
	}
}

.slider-text{
	.icon-video{
		padding: 10px;
		border: 2px solid rgba(255,255,255,.4);
		@include border-radius(4px);
		span{
			color: $white;
		}
		span.play{
		}
		span.watch{
			font-family: $font-primary;
			font-size: 16px;
			text-transform: uppercase;
		}
	}
	h1 {
		font-size: 58px;
		color: $white;
		line-height: 1.2;
		font-weight: 400;
		// text-transform: uppercase;
		@include media-breakpoint-down(md) {
			font-size: 40px;
		}
	}
	p {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 300;
		color: rgba(255,255,255,.8);
		strong{
			font-weight: 700;
			a{
				color: $black;
			}
		}
	}
	.breadcrumbs{
		font-size: 16px;
		margin-bottom: 20px;
		z-index: 99;
		font-weight: 400;
		span{
			color: rgba(255,255,255,.8);
			i{
				color: rgba(255,255,255,.8);
			}
			a{
				color: rgba(255,255,255,1);
				&:hover, &:focus{
					color: $primary;
					i{
						color: $primary;
					}
				}
			}
		}
	}
	.bread{
		font-weight: 700;
		color: $white;
		font-size: 40px;
	}
}


.bg-light {
	background: #f8f9fa!important;
}

.bg-primary{
	background: $primary;
}

.bg-darken {
	background: $darken !important;
}


//BUTTON
.btn {
	cursor: pointer;
	@include border-radius(2px);
	// box-shadow: none!important;
	-webkit-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		border: 1px solid $primary !important;
		color: $white !important;
		background: $primary;
		&:hover {
			border: 1px solid $primary;
			background: $primary;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 2px solid $primary !important;
			background: transparent !important;
			color :$primary !important;
			&:hover {
				border: 2px solid transparent !important;
				background: $primary !important;
				color :$white !important;
			}
		}
	}
	&.btn-secondary {
		background: $secondary !important;
		border: 1px solid $secondary !important;
		color: $white !important;
		&:hover {
			border: 1px solid $secondary !important;
			background: transparent !important;
			color :$secondary !important;
		}
		&.btn-outline-primary {
			border: 1px solid $secondary;
			background: transparent;
			color :$secondary;
			&:hover {
				border: 1px solid transparent;
				background: $secondary;
				color :$white;
			}
		}
	}
	&.btn-white {
		background: $white !important;
		border: 1px solid $white !important;
		color: $black !important;
		&:hover {
			border: 1px solid $black;
			background: $white !important;
			color :$white;
		}
		&.btn-outline-primary {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
	&.btn-darken {
		border: 1px solid $darken !important;
		color: $white !important;
		background: $darken;
		&:hover {
			border: 1px solid $darken;
			background: $darken;
			color :$white;
		}
	}
}


//FTCO ABOUT
.ftco-about{
	.img-about{
		width: 100%;
		z-index: 0;
		position: relative;
		.img{
			display: block;
			width: 100%;
			position: relative;
			z-index: 1;
			-webkit-box-shadow: -20px 20px 69px -27px rgba(0,0,0,0.33);
			-moz-box-shadow: -20px 20px 69px -27px rgba(0,0,0,0.33);
			box-shadow: -20px 20px 69px -27px rgba(0,0,0,0.33);
			@include media-breakpoint-down(sm){
				height: 300px;
			}
		}
	}
	.icon-video{
		padding: 30px;
		background: $primary;
		@include border-radius(0);
		@include media-breakpoint-up(lg){
			margin-left: -30px;
		}
		span{
			color: $white;
		}
		span.play{
			font-size: 20px;
		}
		span.watch{
			font-family: $font-primary;
			font-size: 16px;
			text-transform: uppercase;
		}
	}
}

//STAFF
.staff{
	overflow: hidden;
	@include transition(.3s);
	.img-wrap{
	}
	.img{
		height: 150px;
		width: 150px;
		display: block;
		margin: 0 auto;
		background-position: top center;
		@include border-radius(50%);
		@include transition(.3s);
	}
	.text{
		width: 100%;
		opacity: 1;
		color: rgba(0,0,0,.6);
		@include transition(.3s);
		> div{
			width: 100%;
			padding: 0 1em;
			@include transition(.3s);
		}
		h3{
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 0;
			@include transition(.3s);
		}
		.position{
			text-transform: uppercase;
			color: rgba(0,0,0,1);
			color: $primary;
			display: block;
			letter-spacing: 1px;
		}
		.faded{
			opacity: 1;
			width: 100%;
		}
	}
	.ftco-social{
		opacity: 1;
		@include transition(.3s);
		li{
			a{
				color: $black;
			}
		}
	}
}
.ftco-social{
	padding: 0;
	li{
		list-style: none;
		margin-right: 10px;
		display: inline-block;
	}
}

//SERVICES
.ftco-services{
	.nav-link-wrap{
		background: $primary;
		@include media-breakpoint-down(sm){
			background: $primary;
			margin-top: 30px;
		}
	}
	.nav-pills{
		p{
			margin-bottom: 0;
		}
		.nav-link{
			border-radius: 0;
			margin-bottom: 0;
			color: rgba(255,255,255,.8);
			font-size: 20px;
			font-weight: 400;
			position: relative;
			&:after{
				position: absolute;
				top: 20px;
				bottom: 10px;
				right: 0;
				width: 0;
				height: 0;
				content: '';
				border-style: solid;
				border-width: 10px 10px 10px 0;
				border-color: transparent #ffffff transparent transparent;
				opacity: 0;
			}
			span{
				font-size: 24px;
				margin-right: 5px;
				color: rgba(255,255,255,.8);
			}
			&.active, &:hover{
				color: $white;
				font-size: 20px;
				@include transition(.3s);
				background: transparent;
				font-weight: 700;
				&:after{
					opacity: 1;
				}
				span{
					color: $white;
				}
				@include media-breakpoint-down(sm){
					&:after{
						opacity: 0;
					}
				}
			}
			@include media-breakpoint-down(sm){
				display: block;
				width: 100%;
			}
		}
	}
	.tab-content{
		.tab-pane{
			.icon{
				font-size: 130px;
				color: $primary;
				line-height: 1.2;
			}
			h2{
				// font-size: px;
			}
			.icon-law{
				width: 140px;
			}
			.text{
				width: calc(100% - 140px);
				@include media-breakpoint-down(md){
					width: 100%;
				}
			}
		}
	}
}

// USEFUL CODE
.aside-stretch{
	background: lighten($primary,10%);
	&:after{
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		content: '';
		width: 360%;
		background: lighten($primary,10%);
		// background: #333644;
	}
	@include media-breakpoint-down(sm){
		background: transparent;
		&:after{
			background: transparent;
			display: none;
		}
	}
}


.form-control {
	height: 60px!important;
	background: $white!important;
	color: $black!important;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: none!important;
	&:focus, &:active {
		border-color: $black;
	}
}
textarea.form-control {
	height: inherit!important;
}

.ftco-animate {
	opacity: 0;
	visibility: hidden;
}

.bg-primary {
	background: $primary!important;
}


//ABOUT SINGLE
.about-author{
	img{
	}
	.desc{
		h3{
			font-size: 24px;
		}
	}
	.bio{

	}
}


.ftco-section {
	padding: 7em 0;
	position: relative;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
}

.ftco-no-pt{
	padding-top: 0 !important;
}
.ftco-no-pb{
	padding-bottom: 0 !important;
}

.ftco-bg-dark {
	background: #3c312e;
}



.ftco-footer {
	font-size: 16px;
	background: $darken;
	padding: 7em 0;
	z-index: 0;

	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: $white;
			margin-bottom: 40px;
			font-size: 22px;
			font-weight: 600;
			span{
				color: $primary;
				font-size: 22px !important;
			}
		}
		ul{
			li{
				margin-bottom: 10px;
				a{
					color: rgba(255,255,255,.6);
					span{
						// color: $white;
						color: rgba(255,255,255,.6);
					}
				}
			}
		}
		.btn-primary{
			background: $white !important;
			border: 2px solid $white !important;
			&:hover{
				background: $white;
				border: 2px solid $white !important;
			}
		}
	}
	p {
		color: rgba($white, .7);
	}
	a {
		color: rgba($white, .7);
		&:hover {
			color: $white;
		}
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 50px;
			width: 50px;
			display: block;
			float: left;
			background: rgba($white, .1);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}
.media {
	.ftco-icon {
		width: 100px;
		span {
			color: $primary;
		}
	}
}


// Map

#map {
	// height: 400px;
	width: 100%;
	@include media-breakpoint-down(sm) {
		height: 300px;
	}
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
    box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
      box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
      box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

.heading-section{
	.subheading{
		font-size: 16px;
		display: block;
		margin-bottom: 5px;
		text-transform: uppercase;
		color: $primary;
		letter-spacing: 2px;
	}
	h2{
		font-size: 40px;
		font-weight: 600;
		text-transform: uppercase;
		span{
			font-weight: 400;
		}
		@include media-breakpoint-down(sm){
			font-size: 28px;
		}
	}
	&.heading-section-white{
		.subheading{
			color: rgba(255,255,255,.9) !important;
		}
		h2{
			color: $white;
		}
		p{
			color: rgba(255,255,255,.9);
		}
	}
}

//COVER BG
.img,
.blog-img,
.user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}





//TESTIMONY
.testimony-section{
	position: relative;
	.owl-carousel{
		margin: 0;
	}
	.owl-carousel .owl-stage-outer{
		padding-top: 2em;
		padding-bottom: 2em;
		position: relative;
	}
	.owl-nav {
		position: absolute;
		bottom: 60px !important;
		left: 0;
		right: 0;
		// max-width: 1200px;
		margin: 0 auto;
		@include media-breakpoint-down(md){
			display: none;
		}
		.owl-prev,
		.owl-next {
			position: absolute;
			width: 60px;
			height: 60px;
			background: $white !important;
			@include transition(.7s);
			span {
				&:before {
					font-size: 20px;
					margin-top: 7px;
					color: $black;
				}
			}
			opacity: 1;
		}
		.owl-prev {
			top: 0 !important;
			right: 0 !important;
			@include media-breakpoint-up(lg){
				right: 61px !important;
			}
			&:hover, &:focus{
				background: $black !important;
				outline: none !important;
				span {
					&:before {
						font-size: 20px;
						margin-top: 7px;
						color: $white;
					}
				}
			}
		}
		.owl-next {
			top: 0 !important;
			right: 0 !important;
			@include media-breakpoint-up(lg){
				right: 0 !important;
			}
			&:hover, &:focus{
				background: $black !important;
				outline: none !important;
				span {
					&:before {
						font-size: 24px;
						margin-top: 7px;
						color: $white;
					}
				}
			}
		}
	}
	.owl-dots {
		text-align: left;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: rgba(0,0,0,.1);
			&.active {
				background: $primary;
			}
		}
	}
}
.testimony-wrap{
	width: 100%;
	.text{
		position: relative;
		z-index: 0;
		color: $black;
		p{
			font-size: 20px;
			letter-spacing: 1px;
		}
		.icon{
			position: absolute;
			top: -30px;
			left: 0;
			z-index: -1;
			span{
				font-size: 80px;
				color: $primary;
			}
		}
	}
	.user-img{
		width: 70px;
		height: 70px;
		border-radius: (50%);
		position: relative;
		background-position: top center;
	}
	.name{
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 0;
		color: $black;
	}
	.position{
		font-size: 18px;
		color: lighten($black,70%);
	}
}



// magnific pop up

.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}




#section-counter{
	position: relative;
	z-index: 0;
}
.ftco-counter {
	.ftco-counter-wrap{
		margin-top: -100px;
		padding: 0;
		// background: $darken;
	}
	@include media-breakpoint-down(lg){
		background-position: center center !important;
	}
	.block-18{
		display: block;
		width:100%;
		text-align: center;
		// background: $primary;
	}
	.text{
		strong.number{
			font-weight: 500;
			font-size: 34px;
			color: $primary;
			display: block;
			color: rgba(0,0,0,.8);
		}
		span{
			display: block;
			font-size: 18px;
			color: rgba(0,0,0,.8);
		}
	}
	.icon{
		width: 100px;
		height: 100px;
		margin: 0 auto;
		background: darken($white,5%);
		z-index: -1;
		margin-bottom: 10px;
		@include border-radius(50%);
		span{
			font-size: 40px;
			color: $primary;
		}
	}
	.counter-wrap{
		background: $white;
		padding: 3em 0;
		position: relative;
		@include media-breakpoint-up(lg){
			padding-bottom: 7em;
		}
		&:nth-child(even){
			background: darken($white,5%);
			.icon{
				background: darken($white,0%);
			}
		}
		@include media-breakpoint-down(sm){
			margin-bottom: 20px;
		}
	}
}

//blocks 
.block-20 {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	display: block;
	width: 100%;
	height: 350px;
}
.blog-entry{
	position: relative;
	margin-bottom: 5em !important;
	@include media-breakpoint-up(md){
		margin-bottom: 30px;
	}
	@include media-breakpoint-down(sm){
		margin-bottom: 30px;
	}
	.text {
		width: 100%;
		margin: 0 auto;
		.heading {
			font-size: 20px;
			margin-bottom: 16px;
			font-weight: 500;
			a {
				color: $black;
				&:hover, &:focus, &:active {
					color: $primary;
				}
			}
		}
	}
	.meta {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 0;
		font-size: 14px;
		a {
			color: lighten($black, 50%);
			font-size: 15px;
			&:hover {
				color: lighten($black, 40%);
			}
		}
	}
	.topp{
		position: absolute;
		top: 0;
		left: 0;
		padding:.5em 1em;
		display: inline-block;
		background: $white;
	}
	.one{
		// width: 90px;
	}
	.two{
		// width: calc(100% - 90px);
	}
	span.day{
		font-size: 50px;
		font-weight: 400;
		line-height: 1;
		color: $white;
	}
	span.yr,span.mos{
		display: block;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 500;
		color: rgba(255,255,255,1);
	}
}


.block-23 {
	ul {
		padding: 0;
		li {
			
			&, > a {
				display: table;
				line-height: 1.5;
				margin-bottom: 15px;
			}
			span{
				color: rgba($white, .7);
			}
			.icon, .text {
				display: table-cell;
				vertical-align: top;
			}
			.icon {
				width: 40px;
				font-size: 18px;
				padding-top: 2px;
				color: rgba($white, 1);
			}
			
		}
	}
}

.block-6 {
	margin-bottom: 40px;
	.icon {
		span {
			&:before {
			}
		}
	}
	.media-body {
		.heading {

		}
		p {
			font-size: 16px;
		}
	}
} 

.block-27 {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 400;
			a,span {
				color: $secondary;
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid lighten($black,80%);
			}
			&.active {
				a, span {
					background: $secondary;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}



.contact-section {
	.contact-info{
		p{
			a{
				color: $primary;
			}
			span{}
		}
	}
	.box{
		width: 100%;
		display: block;
		@include media-breakpoint-down(md){
			margin-bottom: 30px;
		}
		.icon{
			width: 100px;
			height: 100px;
			background: $primary;
			margin: 0 auto;
			margin-bottom: 2em;
			@include border-radius(50%);
			span{
				color: $white;
				font-size: 30px;
			}
		}
		h3{
			font-size: 17px;
			font-weight: 400;
			color: $black;
		}
	}
	.contact-form{
		width: 100%;
	}
}
.block-9 {

	.form-control {
		outline: none!important;
		box-shadow: none!important;
		font-size: 18px;
		border: none !important;
		background: rgba(255,255,255,.05) !important;
		color: rgba(255,255,255,.7) !important;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(255,255,255,.7) !important;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: rgba(255,255,255,.7) !important;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: rgba(255,255,255,.7) !important;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: rgba(255,255,255,.7) !important;
		}
	}
	#map {
	}
}


//### .block-21
.block-21 {
	.blog-img{
		display: block;
		height: 80px;
		width: 80px;
	}
	.text {
		width: calc(100% - 100px);
		.heading {
			font-size: 18px;
			font-weight: 300;
			a {
				color: $black;
				&:hover, &:active, &:focus {
					color: $primary;
				}
			}
		}
		.meta {
			> div {
				display: inline-block;
				margin-right: 5px;
				a {
					color: lighten($black, 70%);
				}
			}
		}
	}
}

/* Blog*/
.post-info {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: $white;
	letter-spacing: .1em;
	> div {
		display: inline-block;

		.seperator {
			display: inline-block;
			margin: 0 10px;
			opacity: .5;
		}
	}
}

.tagcloud {
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: $black;
		border: 1px solid #ccc;
		font-size :11px;
		&:hover {
			border: 1px solid #000;
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 20px;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 90%);
				color: $black;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: .1em;
				font-weight: 400;
				border-radius: 4px;
				&:hover {
					color: $white;
					background: lighten($black, 0%);
				}
			}
		}
	}
}

.search-form {
	background: lighten($black, 95%);
	padding: 10px;

	.form-group {
		position: relative;
		margin-bottom: 0;
		input {
			padding-right: 50px;
			font-size: 14px;
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}


// sidebar

.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.heading-sidebar{
		font-weight: 500;
		margin-bottom: 20px;
	}
}

.categories, .sidelink {
	padding: 0;
	margin: 0;
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			color: lighten($black,10%);
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}



#ftco-loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#ftco-loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#ftco-loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}